.reusable_table {
	border-collapse: collapse;
    border-spacing: 0;
	margin: 20px auto;
	tr {
		td {
			border: 1px solid lightgray;
			margin: 0;
			min-width: 100px;
			padding: 10px;
			box-sizing: border-box;
			input {
				border-radius: 5px;
				border: 1px solid lightgray;
				line-height: 15px;
				padding: 5px;
				&:focus {
					outline: none;
				}
			}
		}
		&:not(.search_row) {
			td {
				padding: 10px;
			}
		}
	}
	thead td {
		font-weight: 600;
	}
}